includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:

    paths:
        - ./app

    level: 10

    ignoreErrors:

    excludePaths:

    checkGenericClassInNonGenericObjectType: false
    checkMissingIterableValueType: false
    checkModelProperties: true
    checkOctaneCompatibility: true
